In [1]:
#Task 2
#Step 1
def chain(data):
    df2 = (


 data.loc[:,['Vehicle ID','Make', 'Model','Fuel Type', 'Fuel Type 1', 'Electric Motor', "Annual Fuel Cost (FT1)", "Annual Consumption in Barrels (FT1)" ]]
            .dropna(subset=['Vehicle ID','Make','Fuel Type','Fuel Type 1', "Annual Fuel Cost (FT1)", "Annual Consumption in Barrels (FT1)"])
            .reset_index()
            .drop(columns=['index'])
            .assign(NormalisedCostPerBarrel=data["Annual Fuel Cost (FT1)"]/data["Annual Consumption in Barrels (FT1)"] )
            .head(100)
    )
    return df2

In [2]:
import pandas as pd
data = pd.read_csv("database.csv")
data.head()

C:\Users\mehul\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7,16,62,64,65,67,68,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0

In [3]:
 #testing the method chain   
chain(data)

,Vehicle ID,Make,Model,Fuel Type,Fuel Type 1,Electric Motor,Annual Fuel Cost (FT1),Annual Consumption in Barrels (FT1),NormalisedCostPerBarrel
0,26587,Alfa Romeo,GT V6 2.5,Regular,Regular Gasoline,NaN,1750,16.480500,106.186099
1,27705,Alfa Romeo,GT V6 2.5,Regular,Regular Gasoline,NaN,1750,16.480500,106.186099
2,26561,Alfa Romeo,Spider Veloce 2000,Regular,Regular Gasoline,NaN,1650,15.695714,105.124238
3,27681,Alfa Romeo,Spider Veloce 2000,Regular,Regular Gasoline,NaN,1650,15.695714,105.124238
4,27550,AM General,DJ Po Vehicle 2WD,Regular,Regular Gasoline,NaN,2050,19.388824,105.731015
...,...,...,...,...,...,...,...,...,...
95,27148,Buick,Century Estate Wagon,Diesel,Diesel,NaN,1550,15.287400,101.390688
96,28173,Buick,Century Estate Wagon,Regular,Regular Gasoline,NaN,1600,14.982273,106.792876
97,28174,Buick,Century Estate Wagon,Regular,Regular Gasoline,NaN,2050,19.388824,105.731015
98,28176,Buick,Century Estate Wagon,Diesel,Diesel,NaN,1600,15.924375,100.474901
99,27147,Buick,Century Estate Wagon,Regular,Regular Gasoline,NaN,1850,17.347895,106.641182